.container {
  display: flex;
  justify-content: center;
  height: 50%;
  top: 40%;
  position: absolute;
  width: 100%;
}

.googleButton {
  background-color: rgb(48, 45, 204);
  color: white;
  border: 0;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}

.title {
  text-align: center;
  margin: 20px;
}
